*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#category
{
    margin-top: 90px;
    margin-left: 50px;
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 22px;
}

.cat-submit
{

    width: 100px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: #0D9E5E;
    font-family: 'Rubik', sans-serif;
    margin: 0px 10px 0px 10px;
}
option{
    font-size: 22px;
    background-color: #f0f3f1;
    color: black;

}
.cat-submit:hover
{
    color: white;
    background-color: #0D9E5E;

}
