*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.people-outer
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header-menu
{
    position: fixed;
    width: 100%;
}